<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"> DevUp </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link color-toggle" [routerLink]="['/about']">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-toggle" [routerLink]="['/']"> Teams </a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-toggle" [routerLink]="['/']"> Projects </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link color-toggle" [routerLink]="['auth/login']">
              Login
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link color-toggle" [routerLink]="['auth/register']">
              Register
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link color-toggle" [routerLink]="['/profile']">
              Profile
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()" style="cursor: pointer">
            <a class="nav-link color-toggle" (click)="logout()"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
